.banner-list {
    position: relative;
    outline: none;
    width: 1305px;
    cursor: pointer;

    .b-decs {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        top: 43%;
        left: 50%;
        transform: translate(-50%, -50%);

        span {
            color: #fff;
        }

        .sale-time {
            display: flex;
            flex-direction: column;
            align-items: center;

            .b-s-ti {
                box-sizing: border-box;
                font-weight: 100;
                text-align: center;
            }

            .b-s-t {
                font-size: 24px;
                letter-spacing: 4px;
            }
        }

        .b-issue {
            margin-top: 10px;
            font-size: 14px;
        }

        .b-price {
            font-size: 18px;
            margin-top: 10px;
        }
    }

    .b-name {
        font-size: 30px;
        color: #fff;
        font-weight: 500;
        letter-spacing: 4px;

    }

    img {
        height: 520px;
        width: 100%;
        object-fit: cover;
        transform: none;
        transition: transform 1.5s cubic-bezier(0.19, 1, 0.22, 1) 0s;
        background: none;
    }

    .b-mask {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: black;
        opacity: 0.5;
    }
}